.header {
  font-size: var(--h5-size);
  font-weight: var(--bold-font-weight);
  background-color: var(--primary-bg-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1.2rem;
}
