.filterWrapper {
  display: flex;
  margin: auto;
  position: relative;
  flex-grow: 1;
}

.filterInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.2rem;
  transition: all 200ms ease 0s;
  background-color: var(--primary-bg-color);
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none !important;
  flex-grow: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.focusInputWrapper {
  border-color: rgb(38, 132, 255);
  border-width: 2px;
}

.filterInputSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.filterTag {
  display: flex;
  justify-content: space-between;
  font-size: var(--h7-size);
  padding: 0.2rem 0.4rem;
  /* margin: 0 0.6rem; */
  margin: 0.5rem 0.3rem;
  gap: 1rem;
  background-color: #e6e5e5;
  color: var(--dark-font-color);
}

.filterTag > img {
  width: 1rem;
  filter: brightness(0) saturate(100%) invert(16%) sepia(1%) saturate(907%) hue-rotate(352deg) brightness(97%) contrast(87%);
}

.filterInput {
  padding: 0.7rem 0.4rem;
  flex-grow: 1;
  outline: none !important;
  border: none !important;
}

.filterActionContainer {
  display: flex;
  width: 2.5rem;
  flex-shrink: 0;
  gap: 0.1rem;
}

.filterActionContainer > :last-child {
  border-left: 1px solid #cccccc;
  padding: 0.1rem;
}

.filterActionContainer > img {
  width: 1.2rem;
}

.filterActionContainer > img:hover {
  filter: brightness(0) saturate(100%) invert(16%) sepia(1%) saturate(907%) hue-rotate(352deg) brightness(97%) contrast(87%);
}

.optionContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--dark-font-color);
  background-color: var(--primary-bg-color);
  font-size: 14px;
  margin-top: 3.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  width: 100%;
  z-index: 1;
}

.filterOption {
  padding: 0.8rem;
}

.filterOption:hover {
  background-color: rgb(181, 210, 236);
}
