.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--primary-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.2rem;
  border-radius: 1.5rem;
  flex: 1;
  max-width: 23rem;
  min-width: 20rem;
}

.cardWrapper :last-child {
  margin-top: auto;
}

.posted {
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: var(--h8-size);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 0.1rem solid #eaeaea;
  width: max-content;
}

.jobHeader {
  display: flex;
  gap: 1.2rem
}

.jobHeader :first-child {
  width: 3.2rem;
  height: auto;
}

.companyName {
  font-size: var(--h7-size);
  color: #8b8b8b;
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
}

.jobRole {
  font-size: var(--h7-size);
  color: var(--dark-font-color);
  font-weight: var(--light-font-weight);
  line-height: 1.3rem;
}

.jobLocation {
  font-size: 0.8rem;
  color: var(--dark-font-color);
  font-weight: var(--normal-font-weight);
  line-height: 1.3rem;
}

.salary {
  font-size: var(--h7-size);
  color: #4c5969;
  font-weight: var(--normal-font-weight);
  letter-spacing: 0.05rem;
}

.jobInfo {
  position: relative;
  max-height: 18rem;
  overflow: hidden;
}

.infoHeader {
  font-size: var(--h6-size);
  color: var(--dark-font-color);
  font-weight: 500;
  line-height: 2rem;
}

.infoContent {
  font-size: var(--h7-size);
  color: var(--dark-font-color);
}

.infoFooter {
  position: absolute;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.013064600840336116) 200%);
  width: 100%;
  padding-top: 3rem;
  color: #4943da;
  font-size: var(--h7-size);
}

.jobExp {
  font-size: 0.8rem;
  color: #8b8b8b;
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin-bottom: 1.2rem;
}

.jobExp :last-child {
  color: var(--dark-font-color);
  font-weight: var(--normal-font-weight);
}

.applyCta {
  display: block;
  font-weight: 500;
  color: var(--dark-font-color);
  background-color: #54efc3;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
