.jobModalContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  inset: 0;
}

.jobModalPopup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  color: var(--dark-font-color);
  top: 50%;
  left: 50%;
  min-width: 25rem;
  max-width: 80%;
  max-height: 80vh;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  padding: 1.2rem;
  border-radius: 0.8rem;

  @media screen and (max-width: 420px) {
    min-width: 20rem;
  }
}

.header {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  font-weight: var(--bold-font-weight);
}

.subHeader {
  font-size: var(--h7-size);
  line-height: 1.5;
  font-weight: var(--normal-font-weight);;
}

.desc {
  font-weight: var(--default-font-weight);
  line-height: 1.5;
  font-size: 14px;
}