.jobsWrapper {
  padding: 1.6rem 3.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;
}

.loadJobs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
