:root {
  /* Color Pallete */
  --base-color: #eff3f6;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #000000;
  --dark-font-color: #000000;
  --light-font-color: #ffffff;
  --highlight-font-color: #ee1414;

  /* Font Weights */
  --light-font-weight: 300;
  --default-font-weight: 400;
  --normal-font-weight: 500;
  --bold-font-weight: 600;
  --bolder-font-weight: 800;

  /* Font Sizes */
  --h1-size: 3.2rem;
  --h2-size: 2.4rem;
  --h3-size: 2rem;
  --h4-size: 1.6rem;
  --h5-size: 1.4rem;
  --h6-size: 1.2rem;
  --h7-size: 1rem;
  --h8-size: 0.6rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  /* height: 100vh;
  width: 100%; */
  margin: 0;
  padding: 0;
  font-family: 'Lexend', "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-in-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
